dist
.idea
.run
npm-debug.log
npm-debug.log.*
.DS_Store
.vscode
node_modules
*.swp
*.un~
tags
stats
dll
typings
webdrivers
*___jb_old___
*___jb_tmp___
coverage
stats.json
yarn-error.log
.eslintcache
jest_0
get-pip.py

# removes webapck error reports
/report.*.json
/reports/**.html

# test report
test-report.xml
test-report-**.xml

# Sentry Config File
.env.sentry-build-plugin
